{% extends "base.html.twig" %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}
{% block body %}
  	<div class="container-fluid">
	  	<div class="row-fluid">
	    	<div class="span2 pull-left">
	   	 		<div id="sidebar-wrapper" >
			        <ul class="sidebar-nav" id="sidebar">     
			          {% for forum in subforum %}
			          <li><a href="/app_dev.php/portal/main/{{forum.subForumName}}">{{forum.subForumName}}<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
			          {% endfor %}
			        </ul>
			    </div>
	    	</div>

	    	<div class="container">
			  	<div class="masthead">
			  		<h3 class="muted">ThreadGab.com</h3>
			    	<div class="navbar">
			  			<div class="navbar-inner">
			    			<div class="container">
			      			<ul class="nav">
			        	    <li class="active"><a href="/app_dev.php/portal/main/{{currentforum}}">Friend Threads</a></li>
			        	  	<li><a href="/app_dev.php/portal/community/{{currentforum}}">Community Threads</a>	</li>
			            	<li><a href="/app_dev.php/portal/global/{{currentforum}}">Global Threads</a></li>
			            	<li><a href="/app_dev.php/portal/groups/{{currentforum}}">Group Threads</a></li>
			          	</ul>
			        	</div>
			        </div>
			      </div><!-- /.navbar -->
			 	</div>
        
			    <!-- Jumbotron -->
			    <!-- TBD thread listing for the friends -->
			    <!--The thread title has to be a link for the thread view page-->
				  <div class="table-responsive"> 
				      <table class="table table-striped">
				          <thead>
				              <tr>
				                  <th>Title</th>
				                  <th>Start Date</th>
				                  <th>Replies</th>
				                  <th>Last Message</th>
				              </tr>
				          </thead>
				          <tbody>
				              {% for thread in threads %}
				              <tr>
			        				<td>{{thread.thdSubject}}</td>
			        				<td>{{thread.createdAt|date('Y-m-d H:i:s')}}</td>
			        				<td>Calc num of Replies</td>
			        				<td>Calc last msg time</td>
				              </tr>
				              {% endfor %}
				          </tbody>
				      </table>
				  </div>
    	
	  			<!--Footer for the webpage-->
				<div class="footer">
			  		<p>&copy; ThreadGab.com 2014</p>
				</div>
  			</div>
     	</div>
	</div>
{% endblock %}
