{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% macro printParentReplies(replies,reply,count) %}
    {% if count<4 %}
        {% for parentreply in replies %}
            {% if reply.getReplyTo == parentreply.getId %}
                <div class="span{{ 12 }}" align="center" style="text-align: center;border-style:groove;border-width: 1">
                    <center>
                    {% if parentreply.getReplyTo !=0 %}
                        {{ _self.printParentReplies(replies,parentreply,count+1) }}
                    {% endif %}

                    {# TODO:Change the someone to the user's name #}
                    <a href="{{path('portal_profile_user',{'userid':parentreply.replyUser.getId})}}">Someone</a> said :
                    <br/>{{parentreply.readData|raw}}
                    </center>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block body %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span1" style="border: 1px solid #ccc;">
          <p>{{currentforum}}</p>
      </div>

      <div class="table-responsive span11" style="border: 1px solid #ccc;">
          {#The change should be possible only if current user is the user who generated this thread#}
          <p id="thd_title" {% if user_profile.id==threads.getThdCreator.getFacebookid %}onclick="changeToInput('thd_title');"{% endif %}>{{threads.thdSubject|nl2br}}</p>
      </div>
    </div>
  </div> 

	<div class="container-fluid">
    <div class="row-fluid">
      <div class="span1 text-center" style="border: 1px solid #ccc;">
          <a href="{{path('portal_profile_user',{'userid':threads.getThdCreator.getId})}}"><img src="{{threads.getThdCreator.getPhotoUrl}}"/></a>
      </div>

      {% if user_profile.id==threads.getThdCreator.getFacebookid %}
          <div id="thd_desc_normal" class="span11" style="border: 1px solid #ccc;">
              <pre>{{threads.thdDesc|raw|nl2br}}</pre>
              <button class="btn-default btn-lg" id="btn_edit_desc" onclick="showEditingDiv('thd_desc', 'thd_desc_normal')">Edit</button>
          </div>
          <div id="thd_desc" class="span11" style="border: 1px solid #ccc;display: none">
              <form id="form_desc" method="POST" action="">
                <textarea class="tinymce" id="textarea_desc" name="textarea_desc">{{threads.thdDesc|raw|nl2br}}</textarea>
                  <button class="btn-default btn-lg" id="btn_cancel_desc" onclick="showEditingDiv('thd_desc_normal', 'thd_desc')">Cancel</button>
                <input type="submit" id="button_desc" name="button_desc" value="Submit"/>
              </form>
          </div>
      {% else %}
          <div id="thd_desc" class="span11" style="border: 1px solid #ccc;">
              <pre>{{threads.thdDesc|raw|nl2br}}</pre>
          </div>
      {% endif %}
    </div>
     
    {% import _self as macros %}

    {% if replies|length > 0 %}
        {% for reply in replies %}
            <div class="row-fluid" style="margin-top:20px">
                <div class="span2 text-center" style="border: 1px solid #ccc;">
                <a href="{{path('portal_profile_user',{'userid':reply.replyUser.getId})}}"><img src="{{reply.replyUser.photoUrl}}"/></a>
                <p># Subscribers : {{reply.replyUser.numSub}}</p>
                </div>

                <div class="table-responsive span10" style="border: 1px solid #ccc;">
                    <div class="row-fluid">
                        <div class="span11">
                            <center>
                            {% if reply.getReplyTo !=0 %}
                                {{ macros.printParentReplies(replies,reply,1) }}
                            {% endif %}
                            <br/>{{reply.readData|raw}}
                            </center>
                        </div>

                        <div class="span1">
                        <button class="btn-default btn-lg" id="reply_{{reply.id}}" onclick="toggleDiv({{reply.id}})">Quote</button>
                        </div>

                    </div>

                    <hr/>

                    {% if reply.getReplyUser.getSignature != null %}
                        {{reply.getReplyUser.getSignature|raw}}
                    {% endif %}

                    <div id="div_{{reply.id}}" class="hidden" align="center">
                    <!--Reply form to reply to specific reply-->
                        <form id="form_{{reply.id}}" method='POST' action="{{path('portal_thread',{'threadid':threads.id,'currentforum':currentforum})}}?id={{reply.id}}">
                        <textarea class="tinymce" id="textarea_{{reply.id}}" name="textarea_{{reply.id}}"></textarea>
                        <input type="hidden" id="reply_to_{{reply.id}}" name="reply_to_{{reply.id}}" value="{{reply.id}}">
                        <input type="submit" id="button_{{reply.id}}" name="button_{{reply.id}}" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}  
  </div>

  <form method='POST' action="">
    {{form(form)}}
  </form>

  <div class="footer">
      <p>&copy; ThreadGab.com 2014</p>
  </div>
      
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script type="text/javascript">
      function toggleDiv(id){
        div = document.getElementById("div_"+id);
        if(div.className=="hidden"){
          document.getElementById("reply_"+id).innerHTML="Unquote";
          div.className="show";
        } else {
          document.getElementById("reply_"+id).innerHTML="Quote";
          div.className="hidden";
        }
      }

      function changeToInput(id){
          p = document.getElementById(id);
          p.style.display="none";

          p.parentElement.innerHTML='<form id="form_'+id+'" action="" method="POST">' +
                  '<input id="input_'+id+'" value="'+ p.innerHTML+'" class="form-control" maxlength="140" ' +
                  'type="text" required="required" name="input_'+id+'" style="width:90%;" ' +
                  'onblur="submitForm(\'form_'+id+'\');"></input></form>';
      }

      function submitForm(id){
          form = document.getElementById(id);
          form.submit();
      }

      function showEditingDiv(id, hideDivId){
          p = document.getElementById(id);
          p.style.display="block";

          p = document.getElementById(hideDivId);
          p.style.display="none";
      }
  </script>
{% endblock %}



