{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{# Macro for printing out replies to a thread recursively #}
{% macro menu_links(arr_replies,replies,threadid,currentforum) %}
    {% if arr_replies|length > 0 %}
      {% for reply in arr_replies %}
         <div class="row-fluid">
            <div class="span2 text-center" style="border: 1px solid #ccc;">
                <a href="{{path('portal_profile_user',{'userid':reply.replyUser.getId})}}"><img src="{{reply.replyUser.photoUrl}}"></img></a>
                <p># Subscibers : {{reply.replyUser.numSub}}</p>
            </div>

            <div class="table-responsive span10" style="border: 1px solid #ccc;"> 
                <div class="row-fluid">
                  <div class="span11">
                    
                    <pre>{{reply.readData|raw}}</pre>                      
                    {% if reply.getReplyUser.getSignature != null %}
                      <hr/>
                      {{reply.getReplyUser.getSignature|raw}}         
                    {% endif %}             
                    
                    {{_self.menu_links(replies[reply.id]|reverse,replies,threadid,currentforum)}}
                  </div>
                  <div class="span1">
                    <button class="btn-default btn-lg" id="reply_{{reply.id}}" onclick="toggleDiv({{reply.id}})">Quote</button>  
                  </div> 
                </div>
                <div id="div_{{reply.id}}" class="hidden" align="center">
                    <!--Reply form to reply to specific reply-->
                    <form id="form_{{reply.id}}" method='POST' action="{{path('portal_thread',{'threadid':threadid,'currentforum':currentforum})}}?id={{reply.id}}">
                      <textarea class="tinymce" id="textarea_{{reply.id}}" name="textarea_{{reply.id}}"></textarea>
                      <input type="hidden" id="reply_to_{{reply.id}}" name="reply_to_{{reply.id}}" value="{{reply.id}}"> 
                      <input type="submit" id="button_{{reply.id}}" name="button_{{reply.id}}" value="Submit"></input> 
                    </form>  
                </div>
            </div>           
        </div>
      {% endfor %}  
    {% endif %}
{% endmacro %}

{% block body %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span1" style="border: 1px solid #ccc;">
          <p>{{currentforum}}</p>
      </div>

      <div class="table-responsive span11" style="border: 1px solid #ccc;"> 
          <p>{{threads.thdSubject|nl2br}}</p>
      </div>
    </div>
  </div> 

	<div class="container-fluid">
    <div class="row-fluid">
      <div class="span1 text-center" style="border: 1px solid #ccc;">
          <img src="{{threads.getThdCreator.getPhotoUrl}}"></img>
      </div>

      <div class="table-responsive span11" style="border: 1px solid #ccc;"> 
          <pre>{{threads.thdDesc|raw|nl2br}}</pre>
      </div>
    </div>
     
    {% import _self as macros %}

    {% if replies|length > 0 %}  
      {{macros.menu_links(replies[0]|reverse,replies,threads.id,currentforum)}}
    {% endif %}  
  </div>

  <form method='POST' action="">
    {{form(form)}}
  </form>

  <div class="footer">
      <p>&copy; ThreadGab.com 2014</p>
  </div>
      
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script type="text/javascript">
      function toggleDiv(id){
        div = document.getElementById("div_"+id);
        if(div.className=="hidden"){
          document.getElementById("reply_"+id).innerHTML="Unquote";
          div.className="show";
        } else {
          document.getElementById("reply_"+id).innerHTML="Quote";
          div.className="hidden";
        }
      }
  </script>
{% endblock %}



